.container {
    text-align: center;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}